.responsive-sidebar {
  display: flex;
  align-items: center;
}

.desktop-sidebar {
  display: none;
}

/* Show sidebar only on larger screens */
@media (min-width: 768px) {
  .desktop-sidebar {
    display: block;
    width: fit-content;
    max-width: fit-content;
    min-width: fit-content
  }
  .menu-toggle-btn {
    display: none;
  }
}

/* Mobile-specific styles */
.menu-toggle-btn {
  margin: 10px;
}
.mobile-drawer {
  display: block;
}
